.parola-the{
    font-size: 15px;
    margin-bottom: 0px;
    
}

.titolo-nello-sfondo{
    background-color: rgba(0, 148, 247, 0.852);
    background-image: url(./img/pattern.png);
    background-size: auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.titolo-sottotitolo{
    margin: auto;
    display: inline;
}

.sotto-titolo{
    margin-top: auto;
}

.colore-azzurro{
    font-style: normal;
    color: blue;
}

.primo-titolo{
    border-bottom: 0px;
}

.descrizione-foto{
    margin-top: 0%;
}

.giallo{
    background-color: yellow;
}

.azzurro-scuro{
    background-color: rgb(0, 106, 255);
    color: white;
    height: 10px;
}

.ultima-colonna{
    text-align: left;
}

.azzurro-acqua{
    height: 20px;
    width: 50%;
    background-color: aquamarine;
}

.lorem-lungo{
    width: 50%;
    text-align: left;
}

td{
    text-align: center;
}